[project]
	description = Jquery Plugin for editing image using Kinetic JS HTML5
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aiska Hendra (aiska)
[access "refs/for/refs/*"]
	read = group user/Aiska Hendra (aiska)
	push = group user/Aiska Hendra (aiska)
	label-Code-Review = -2..+2 group user/Aiska Hendra (aiska)
	label-Verified = -1..+1 group user/Aiska Hendra (aiska)
	rebase = group user/Aiska Hendra (aiska)
	removeReviewer = group user/Aiska Hendra (aiska)
	submit = group user/Aiska Hendra (aiska)
[access "refs/heads/*"]
	read = group user/Aiska Hendra (aiska)
	create = group user/Aiska Hendra (aiska)
	push = +force group user/Aiska Hendra (aiska)
	pushMerge = group user/Aiska Hendra (aiska)
[access "refs/tags/*"]
	push = +force group user/Aiska Hendra (aiska)
	pushTag = group user/Aiska Hendra (aiska)
	pushSignedTag = group user/Aiska Hendra (aiska)
